.App {
  margin: 20px;
  padding-top: 30px;
  text-align: center;
  user-select: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin:auto;
}

.cell {
  display: inline-block;
  width:40px;
  height: 40px;
  line-height:40px;
  cursor:pointer

}

td {
  background:lightskyblue;
}
td:empty {background: white;}

html {
  background:orange;
}