.App {
    margin: 4vh;
    text-align: center;
    user-select: none;
    height: 92vh;
    max-height: 92vh;
}

.App-link {
    color: #61dafb;
}

th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
}

table {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

.cell {
    display: inline-block;
    width: min(8vw, 8vh);
    height: min(8vw, 8vh);
    line-height: min(8vw, 8vh);
    cursor: pointer
}

td {
    background: lightskyblue;
}

td:empty {
    background: white;
}

html {
    background: orange;
}