.App {
    margin: 4vh;
    text-align: center;
    user-select: none;
    height: 92vh;
    max-height: 92vh;
}

.spacer {
    width:20px;
    display:inline-block;
}

.bpm {
    width: 25px;
    padding: 0 0 0 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cell {
    display: inline-block;
    width: min(8vw, 8vh);
    height: min(8vw, 8vh);
    line-height: min(8vw, 8vh);
    cursor: pointer;
    font-size: min(4vw, 4vh);
    font-weight: bolder;
}

.controls {
    color: #bcbaec;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    border: 2px solid #bcbaec;
    border-collapse: collapse;
}

.cell.flashing {
    background-color: #e18ae4;
}

td {
    border: 1px solid #bcbaec;
    background-color: #fdf4d8;
}

td:empty {
    background-color: rgb(162, 31, 255)  ;
}

html {
    background-color: #02050c;
    color:  #3e3d4d;
}